<div data-role="page" id="home" data-title="Home">
    <div data-role="header" data-position="inline" data-theme="a">
<h1>Listado de Locales Deportivos</h1>
	</div><!-- /header -->
    <div data-role="content">
        
		<div class="content-primary">

<ul data-role="listview" data-inset="true">
<% @local_deportivos.each do |local_deportivo| %>
  
    <li>
    	<a href='<%= local_deportivo_path(local_deportivo) %>'>
    	<h3><%= local_deportivo.nombre %></h3>
	    <p>Dirección: <%= local_deportivo.direccion %></p>	    
	    <p>Telefono: <%= local_deportivo.telefono %></p>
	    <p>Email: <%= local_deportivo.email %></p>
	    <!--<%= link_to 'Mostrar', local_deportivo %>-->
	    </a>
	    <!--<%= link_to 'Eliminar', local_deportivo, confirm: '¿Está seguro que desea eliminar el local deportivo?', method: :delete %>-->
	    <%= link_to 'Editar', edit_local_deportivo_path(local_deportivo) %>
	</li>
  
<% end %>
</ul>
		</div>

    </div><!-- /content -->
 
    <div data-role="footer" data-position="fixed">

<%= link_to 'Nuevo Local Deportivo', new_local_deportivo_path %>

    </div><!-- /footer -->
</div><!-- /page home -->